# SPDX-FileCopyrightText: 2022-2025 Alexey Rochev
#
# SPDX-License-Identifier: CC0-1.0

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches:
      - master
      - 'feature/**'
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  build-app:
    runs-on: ubuntu-latest

    env:
      ARTIFACTS_RETENTION_DAYS: ${{ github.event_name == 'schedule' && 30 || 3 }}

    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Add Kotlin problem matcher
        uses: equeim/kotlin-problem-matcher@cd8d50db272bc44d8ecfac02dcc46ec9cd489a49

      - name: Set up Java 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: temurin
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884
        with:
          cache-read-only: ${{ github.event_name == 'pull_request' }}
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Build the app
        run: |
          ./gradlew build

      - name: Archive debug APK
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: debug-apk
          path: |
            app/build/outputs/apk/debug/*.apk
          retention-days: ${{ env.ARTIFACTS_RETENTION_DAYS }}

      - name: Archive unsigned release APK
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: release-apk
          path: |
            app/build/outputs/apk/release/*.apk
          retention-days: ${{ env.ARTIFACTS_RETENTION_DAYS }}

      - name: Archive test and lint reports
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: reports
          path: |
            */build/reports/*
          retention-days: ${{ env.ARTIFACTS_RETENTION_DAYS }}

  reuse-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo DEBIAN_FRONTEND=noninteractive apt-get --no-install-recommends --assume-yes install pipx

      - name: Check REUSE compliance
        run: |
          pipx run reuse lint
